In [178]:
#importing pandas
import pandas as pd
data=pd.read_csv('ratings_and_sentiments.csv')
#Dropping columns not needed
dz=data.drop(columns=['vibe_sent','rating','cat_rating','bool_HIGH','tea_sent','service_sent','price_sent','parking_sent','food_sent','local_sent','internet_sent','hours_sent','alcohol_sent','seating_sent','location_sent','coffee_sent'])
#Creating the Dataframe
df=pd.DataFrame(dz)
df

,coffee_shop_name,review_text,num_rating,overall_sent
0,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the vibe...,5,4
1,The Factory - Cafe With a Soul,"12/2/2016 Listed in Date Night: Austin, vibe i...",4,3
2,The Factory - Cafe With a Soul,11/30/2016 1 check-in Listed in food seating I...,4,2
3,The Factory - Cafe With a Soul,11/25/2016 Very cool vibe! Good drinks Nice se...,2,1
4,The Factory - Cafe With a Soul,12/3/2016 1 check-in They are location within ...,4,2
...,...,...,...,...
7611,The Steeping Room,2/19/2015 I actually step into this restaurant...,4,2
7612,The Steeping Room,"1/21/2016 Ok, The coffeeing seating IS awesome...",5,1
7613,The Steeping Room,"4/30/2015 Loved coming here for tea, and the v...",4,3
7614,The Steeping Room,8/2/2015 The food is just average. The booths ...,3,1
7615,The Steeping Room,5/23/2015 I finally stopped in for food with m...,4,2

In [179]:
#Returning all of the shops that have number rating greater than or equal to 4
df[df['num_rating']>=4]

,coffee_shop_name,review_text,num_rating,overall_sent
0,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the vibe...,5,4
1,The Factory - Cafe With a Soul,"12/2/2016 Listed in Date Night: Austin, vibe i...",4,3
2,The Factory - Cafe With a Soul,11/30/2016 1 check-in Listed in food seating I...,4,2
4,The Factory - Cafe With a Soul,12/3/2016 1 check-in They are location within ...,4,2
5,The Factory - Cafe With a Soul,11/20/2016 1 check-in Very cute cafe! I think ...,4,0
...,...,...,...,...
7610,The Steeping Room,3/1/2016 Great food! I haven't had a food I di...,5,0
7611,The Steeping Room,2/19/2015 I actually step into this restaurant...,4,2
7612,The Steeping Room,"1/21/2016 Ok, The coffeeing seating IS awesome...",5,1
7613,The Steeping Room,"4/30/2015 Loved coming here for tea, and the v...",4,3
7615,The Steeping Room,5/23/2015 I finally stopped in for food with m...,4,2

In [3]:
#Returning all of the shops that have an overall sentiment greater than or equal to 4
df[df['overall_sent']>=4]

,coffee_shop_name,review_text,num_rating,overall_sent
0,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the vibe...,5,4
233,Mozart's Coffee Roasters,9/21/2016 1 check-in Scenery 10/10. Coffee 10/...,5,4
931,Venezia Italian Gelato,6/19/2016 After sampling several food places a...,5,4
1101,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the vibe...,5,4
1466,Figure 8 Coffee Purveyors,11/28/2016 2 check-ins Really excellent coffee...,5,4
1591,MaÐ“Â±ana Coffee & Juice,"5/30/2016 Manana was brand new to me, just wen...",5,4
2008,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the vibe...,5,4
2213,Flat Track Coffee,12/28/2013 Wow. Wow. Best coffee In Austin...,5,4
2595,Flightpath Coffeehouse,8/13/2015 Digital Nomad Cafe Score - 5/5 seat...,5,4
2681,Third Coast Coffee Roasting Company,8/22/2009 I've never visited the store. Howeve...,5,4
2831,Dolce Neve,3/27/2016 If you like a creamy consistency wit...,5,4
3051,Halcyon,3/3/2015 1 check-in Listed in Pretending to Ho...,4,4
3106,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the vibe...,5,4
3390,Arturo's Underground Cafe,9/24/2016 Great food. Haven't had creative foo...,5,4
3425,Arturo's Underground Cafe,4/17/2016 Absolutely loved this place! We got ...,5,4
3787,Lucky Lab Coffee,7/31/2015 I absolutely loved Lucky Lab Coffee ...,5,4
4137,Halcyon,3/3/2015 1 check-in Listed in Pretending to Ho...,4,4
4419,Tea Haus,"12/2/2016 Love this place, mint mojito iced co...",5,4
4515,Friends & Neighbors,5/17/2015 Amazing amazing!! Inspiring! What's ...,5,4
4530,Sorrento's Coffee,5/24/2016 1 check-in Stopped in here the other...,5,4
4576,Sorrento's Coffee,11/23/2014 1 check-in I was in the area and ha...,4,4
4771,Venezia Italian Gelato,6/19/2016 After sampling several food places a...,5,4
5086,Halcyon,3/3/2015 1 check-in Listed in Pretending to Ho...,4,4
5612,Dominican Joe,2/3/2014 1 check-in Two Words: Flan coffee. O...,5,4
5998,La Tazza Fresca,11/12/2013 1 check-in This cafe is a regular s...,4,4
6428,"Strange Brew, Austin Coffee",10/29/2014 1 check-in I really loved this plac...,5,4
6836,Teo,10/27/2014 1 check-in This place has excellent...,5,4
6963,La Patisserie,4/3/2014 1 check-in This little sweet shop was...,4,4
6999,My Sweet Austin,4/23/2014 I absolutely loved my bridal food! I...,5,4
7099,Cafe Java,9/28/2016 A co-worker suggested Cafe Java and ...,4,4
7148,Russell's Bakery,5/15/2016 Coconut food is Awesome! Best I have...,5,4
7558,The Steeping Room,10/18/2015 OMG! Try the Chai Spiced French foo...,4,4

In [21]:
#Finding the number of the shops that have an overall sentiment greater than or equal to 4 and number rating greater than 4
dp=df[(df['overall_sent']>=4)&(df['num_rating']>4)]
print("There are " + f"{dp['coffee_shop_name'].count()}" " " +"coffee shops in this list.")

There are 24 coffee shops in this list.

In [5]:
# Changing the names of the review text column to comments and the overall sent to sentiment rating
rename_df=dp.rename(columns={'review_text':'comments','overall_sent':'sentiment_rating'})
rename_df

,coffee_shop_name,comments,num_rating,sentiment_rating
0,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the vibe...,5,4
233,Mozart's Coffee Roasters,9/21/2016 1 check-in Scenery 10/10. Coffee 10/...,5,4
931,Venezia Italian Gelato,6/19/2016 After sampling several food places a...,5,4
1101,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the vibe...,5,4
1466,Figure 8 Coffee Purveyors,11/28/2016 2 check-ins Really excellent coffee...,5,4
1591,MaÐ“Â±ana Coffee & Juice,"5/30/2016 Manana was brand new to me, just wen...",5,4
2008,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the vibe...,5,4
2213,Flat Track Coffee,12/28/2013 Wow. Wow. Best coffee In Austin...,5,4
2595,Flightpath Coffeehouse,8/13/2015 Digital Nomad Cafe Score - 5/5 seat...,5,4
2681,Third Coast Coffee Roasting Company,8/22/2009 I've never visited the store. Howeve...,5,4
2831,Dolce Neve,3/27/2016 If you like a creamy consistency wit...,5,4
3106,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the vibe...,5,4
3390,Arturo's Underground Cafe,9/24/2016 Great food. Haven't had creative foo...,5,4
3425,Arturo's Underground Cafe,4/17/2016 Absolutely loved this place! We got ...,5,4
3787,Lucky Lab Coffee,7/31/2015 I absolutely loved Lucky Lab Coffee ...,5,4
4419,Tea Haus,"12/2/2016 Love this place, mint mojito iced co...",5,4
4515,Friends & Neighbors,5/17/2015 Amazing amazing!! Inspiring! What's ...,5,4
4530,Sorrento's Coffee,5/24/2016 1 check-in Stopped in here the other...,5,4
4771,Venezia Italian Gelato,6/19/2016 After sampling several food places a...,5,4
5612,Dominican Joe,2/3/2014 1 check-in Two Words: Flan coffee. O...,5,4
6428,"Strange Brew, Austin Coffee",10/29/2014 1 check-in I really loved this plac...,5,4
6836,Teo,10/27/2014 1 check-in This place has excellent...,5,4
6999,My Sweet Austin,4/23/2014 I absolutely loved my bridal food! I...,5,4
7148,Russell's Bakery,5/15/2016 Coconut food is Awesome! Best I have...,5,4

In [ ]:
df.to_csv('new_file.csv', sep='\t', index=False)